// Font-Awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */

   &::before,
   &::after{
      box-sizing: border-box;
   }

   &::-webkit-scrollbar {
      display: none;
   }
}

:root {
   --clr-light-100:#ffffff;
   --clr-light-300:#9e9e9e;
   --clr-light-600:#363636;
   --clr-primary:#c4c4f6;
   --clr-secondary:#c4c4f8;
   --clr-accent-light:#fd9c00;
   --clr-accent-dark:#123b4f;
   --fw-normal:500;
   --fw-bold:700;
   --fw-black:900;
}

body {
   font-family: 'Work Sans', sans-serif;
   color: var(--clr-light-600);
   background-color:var(--clr-light-100);
}

// Navigation
nav {
   position: relative;

   a {
      text-decoration: none;
      color: var(--clr-light-600);
   }
}

.nav__other {
   display: flex;
   justify-content: space-between;
   font-size: 1.125em;
   font-weight: var(--fw-black);
   padding: 1em;

   a {
      display: block;
   }
}

.nav__list {
   // display: flex;
   flex-direction: column;
   list-style: none;
   display: none;
   background-color: var(--clr-light-600);

   a {
      color: white;
      display: block;
      width: 100%;
      height: 100%;
      padding: 0.875em 1em;
   }

   li:hover {
      background-color: var(--clr-accent-dark);  
   }
}
// Navigation

// Main content
.main__right {
   padding: 2em 1em 0 1em;

   img {
      width: 100%;
   }
}

.main__left {
   padding: 1em;
   z-index: 100;

   p {
      color: var(--clr-light-300);
   }
}

.submit__message {
   font-size: 1.125em;
   color:var(--clr-accent-dark);
   font-weight: var(--fw-bold);
   margin: 1rem 0;
}

.main__title {
   color: var(--clr-accent-dark);
   font-weight: var(--fw-bold);
   font-size: 3.5em;
   padding: 1rem 0 0.5rem 0;
}

.main__subtitle {
   color: var(--clr-accent-light);
   font-weight: var(--fw-normal);
   font-size: 2em;
   padding-bottom: 1.125rem;
   letter-spacing: 0.125em;
}

.main__text {
   line-height: 1.625em;
}

.btn {
   text-decoration: none;
   padding: 1rem;
   border-radius: 2rem;
}

.btn--secondary {
   background-color: var(--clr-secondary);
   display: inline-block;
   margin-top: 2em;
   color: var(--clr-light-100);
   font-weight: var(--fw-bold);
}
// Main content

// Form
.main__form {
   display: flex;
   flex-direction: column;

   .btn--primary {
      margin-top: 1.5em;
      border: 0;
      cursor: pointer;
      background-color:var(--clr-primary);
      font-weight: var(--fw-bold);
   }
}

.main__form-label {
   font-weight: var(--fw-bold);
}

.main__form-input {
   padding: 0.5em;
   margin-bottom: 1em;
}
// Form

// Media query
@media (min-width: 50em) {

   .nav {
      background-color:var(--clr-light-100);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1em 6em 1em 2em;

      .nav__other {
         padding: 0;
         line-height: 3em;
      }

      .nav__hamburger {
         display: none;
      }

      .nav__list {
         display: flex;
         flex-direction: row;
         background-color: var(--clr-light-100);

         a {
            height: auto;
            color: var(--clr-light-600);
            line-height: 1.625em;
         }
      }
      .nav__list-item:hover {
         color: var(--clr-light-600);
         background-color: var(--clr-light-100);
      }
   }

   .main__title {
      font-size: 4em;
   }

   .btn--primary {
      background-color: var(--clr-primary);
   }

   .btn--secondary {
      margin-top: 5em;
   }

   main {
      padding: 3em 2em;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;

      .main__left {
         padding: 4em 0 0 0;
         width: 40%;
      }

      .main__right {
         width:60%;
         padding-left: 0;
      }
   }

   .main__form {
      padding: 1em 4em 2em 0;
   }
}